
<h2 class="text-center">CV Uploader</h2>

<form name="cvForm" role="form" (submit)="uploadCv()">
	<div class="form-group">
		<label for="first-name">First Name</label>
		<input	class="form-control"
					 name="first-name"		
					 placeholder="First Name"
					 autocomplete="off"
					 [(ngModel)]="form.firstName"/>
	</div>

	<div class="form-group">
		<label for="last-name">Last Name</label>
		<input class="form-control"
					 name="last-name"		
					 placeholder="Last Name"
					 autocomplete="off"
					 [(ngModel)]="form.lastName"/>
	</div>

	<div class="form-group">
		<label for="job-title">Job Title</label>
		<input class="form-control"
					 name="job-title"		
					 placeholder="Job Title"
					 autocomplete="off"
					 [(ngModel)]="form.jobTitle"/>
	</div>

	<p>Upload your CV:</p>
	<input type="file" name="cv" [(ngModel)]="form.cv"/>

	<button class="btn btn-lg btn-warning" type="submit">Upload</button>
</form>